class Config(object):
    DEBUG = False
    TESTING = False
    SQLALCHEMY_DATABASE_URI = 'database_uri'
    SECRET_KEY = 'secret_key'
    JWT_AUTH_URL_RULE = '/login'
    JWT_AUTH_USERNAME_KEY = 'email'

class ProductionConfig(Config):
    SQLALCHEMY_DATABASE_URI = 'postgres://user:password@hostname:port/database-name'


class DevelopmentConfig(Config):
    DEBUG = True


class TestingConfig(Config):
    TESTING = True
